<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="УП.Properties.Settings.Cherepanov_avtosalonConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=&quot;Cherepanov avtosalon&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="УП.Properties.Settings.CherepanovavtosalonConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=Cherepanovavtosalon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>